<article *ngIf="customer" class="customer-card">
    <header>
        <h1>{{ customer.name }}</h1>
    </header>

    <div class="container">
        <div class="info-row">
            <div class="label">Email</div>
            <div class="info">{{ customer.email }}</div>
        </div>

        <div class="label">Orders</div>
        <div *ngIf="customer.orders">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>View</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let order of customer.orders.orders" class="order-row">
                    <td class="order-name">{{ order.date }}</td>
                    <td>
                        <a [routerLink]="['/orders', order.id]" class="action-link">View</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="customer-actions">
            <button [routerLink]="['/customers', customer.id, 'edit']" class="action-link">Edit</button>

            <button (click)="onDelete(customer)" class="delete-button">Delete</button>
        </div>
    </div>
</article>
